/* .react-codemirror2 {
  height: 100% !important;
  padding: 0;
}

.CodeMirror {
  height: 100% !important;
  padding: 0;
} */

.react-codemirror2:first-child {
  margin-top: 0;
  height: 70%;
  position: relative;
}

.react-codemirror2:last-child {
  margin-top: 0;
  height: 30%;
  position: relative;
}

.CodeMirror {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}
